{% extends 'base.html' %}

{% block title %}登录{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block main %}
    <form action="" method="post">
        <h2>login page</h2>
        <div class="form-container">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="username" name="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="password" name="password">
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">login</button>
            </div>
        </div>
        {% if error %}
            <div class="form-control-static">
                <p>{{ error }}</p>
            </div>
            {% endif %}
    </form>
{% endblock %}